.homeOverAllContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  width: 100%;
}

.iplLogoDesign {
  height: 100px;
  width: 100px;
}
.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.homeRouteTeamCardsLists {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
  padding: 20px;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
