.TeamMatchesContainer {
  width: 100%;
  background: linear-gradient(to bottom, #a4261d, #0f172a);
  padding: 20px;
}

.latestMatchDetailsContainer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1e293b;
}

.latestMatchImageUrl {
  height: 300px;
  width: 60%;
}

.recentMatchesList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  padding-left: 0px;
}

/*

//   Here starting for Loading UI styling
*/

.overAllLoadingUi {
  height: 100%;
  width: 90%;
}
.loadingContainerTop {
  height: 150px;
  width: 100%;
  background-color: grey;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: loading;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.loadingContainerTopMiddle {
  height: 150px;
  width: 100%;
  background-color: grey;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: loading;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.eachMatchCardLoadingContainer {
  height: 300px;
  width: 250px;
  max-width: 300px;
  flex-grow: 1;
  margin-bottom: 15px;
  padding: 20px;
  color: white;
  border-radius: 20px;
  animation-name: loading;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    background-color: white; /* Light grey at 0% */
  }
  100% {
    background-color: lightgray;
  }
}
